
<p>
  This resource was created for people who have celiac disease and who also suffer from gluten intolerance.
  The purpose of this site is for people to look up the ingredients of the liquors to see if they're safe for them to consume.
  </p>
  <h4> Controversy with liquor being Gluten Free</h4>
  <p>
     There have been studies done that suggest that the gluten is removed from liquor during the distillation process. However, scientists aren't sure as to why some people still have reactions to alcohol made with gluten based ingredients. Just be aware that everybody's body is different and while some people may not have a reaction, you might. So just keep in mind what things are made of and what you put in your body.
     Eventually there will be a rating system on this website where you can rate and comment your reactions to each alcohol that you try.
  </p>


<h4> What is Celiac Disease?</h4>
Celiac disease is an autoimmune response to the gluten proteins found in wheat, rye, barley and some oats. The reaction attacks the proteins found in gluten but also attacks the villi in the small intestine, destroying them and in turn creating malabsorption and some scar tissue. The only cure for celiac disease is to be on at strictly gluten free diet.
