<p>
Gin and juice,  yo!
</p>

<h4> What is Gin?</h4>
<p>
  Gin has been the drink of choice for statesmen, soldiers, WASPs and even the working class. It has a colorful and dramatic history, which rivals that of any other alcohol. And that’s not to mention the fact that the spirit is once again in vogue and a favorite of mixologists around the world.
While the origins of the clear liquor are somewhat debatable, several hundred years ago, someone, most likely in Holland or Belgium, began to infuse alcohol with juniper berries and a variety of other botanicals. (This spirit was arguably the first flavored vodka.) Gin is still made this way today, and each brand has its own recipe and techniques for infusion. While all gin has some juniper flavor, the other botanicals can include a wide array of herbs, vegetables, flowers, fruits, spices and even tea.

</p>

<h4>Safe for celiacs?</h4>
<p>
   Same as with vodka, look for gin's whose base spirit is made from non-gluten grains. 
</p>

<p>
  {{allthegin}}
</p>
