<h4> What are Liqueurs?</h4>
<p>
  The most varied and versatile category of spirits is arguably liqueurs, which includes everything from Baileys Irish Cream and Cointreau to Campari and Jägermeister. In the U.S., the term “liqueur” is synonymous with cordials and is derived from the Latin liquefacere, meaning to liquefy. It refers to the early Middle Ages monastic practice of extracting the essence of botanicals, which were added to base spirits and believed to have medicinal properties. Even though these concoctions all taste completely different, their basic recipe is fairly similar: alcohol and sugar (according to US law, a liqueur must contain at least 2.5 percent sugar by weight), plus spices, herbs, flowers, fruit, nuts, cream, or other flavorings. Many brands boast long histories, and a number of recipes are still secret.
</p>
<h4>Are Liqueurs safe for Celiacs?</h4>
<p>
  Depends on what the base of the liqueurs is made from. Be wary of them, until you can decipher what the base is made with.
</p>
<div ng-repeat="booze in alltheliqueurs">
  <img src= "{{booze.image}}"/>
  <p>Name: {{booze.name}}</p>
  <p>Type: {{booze.type}}</p>
  <p>Description: {{booze.description}}</p>
  <p>Origin:{{booze.origin}}</p>
  <p>Ingredients:{{booze.ingredients}}</p>
  <p>ABV: {{booze.abv}}</p>
  <p>Safe: {{booze.safe}}</p>

</div>
