<h4>What is Rum?</h4>
<p>
  Rum lovers around the world owe a great debt to a simple plant: sugar cane. Hundreds of years ago, there was a sugar craze in Europe, and colonies were established around the Caribbean to make the sweet commodity. But the production of sugar creates a lot of byproduct—namely, molasses. There wasn’t much use for the thick, sticky, sweet substance until it was discovered that molasses could be fermented and then distilled. The alcohol quickly became popular with pirates, sailors and America’s founders.
</p>
<h4> Is Rum safe for Celiacs?</h4>
<p>
  Yes! Most rums are safe for celiacs. Just be sure to watch out for rums that have been aged in barrels that used to age bourbon/scotch/ or whiskey!
</p>
<div>
<div ng-repeat="booze in alltherum">
  <img src= "{{booze.image}}"/>
  <p>Name: {{booze.name}}</p>
  <p>Type: {{booze.type}}</p>
  <p>Description: {{booze.description}}</p>
  <p>Origin:{{booze.origin}}</p>
  <p>Ingredients:{{booze.ingredients}}</p>
  <p>ABV: {{booze.abv}}</p>
  <p>Safe: {{booze.safe}}</p>

  </div>
