<p>
Scotchy Scotch scotch
</p>
<h4>What is Scotch?</h4>
<p>
Sorry, Sean Connery: scotch whisky will always be Scotland’s greatest export. The country’s residents have been distilling for hundreds of years, and the alcohol is some of the most highly sought-after in the world. It’s also one of the most highly regulated spirits in the world. There are just less than 100 distilleries operating in Scotland, and they all must abide by the Scotch Whisky Association’s rules. The alcohol has to be made entirely in Scotland and aged there in oak casks for at least three years and one day. Most of the casks are used bourbon barrels made of American oak. Some distilleries also age whisky in old sherry, wine and even rum casks. The final product has to be a minimum of 80 proof. After malting, the barley used for many Scotches, especially those made on the island of Islay, is dried using smoke from burning peat. This gives the finished whisky a pronounced smoky flavor.
</p>
<h4> Is scotch safe for Celiacs?</h4>
<p>
  Unfortunately, no. Since Scotch is made from 100% malted Barley, there's no way to make it Gluten Free.
</p>

<div>
<p ng-repeat="booze in allthescotch">
  {{booze.name}}
  {{booze.type}}
  {{booze.description}}
  {{booze.origin}}
  {{booze.ingredients}}
  {{booze.abv}}
  {{booze.safe}}
  <img src="{{booze.image}}" />
</p>
  </div>
