<h4> What is Tequila?</h4>
<p>
  Tequila
Contrary to popular belief, tequila is not cactus juice. The spirit is distilled from blue Weber agave. (And for the record, it should never come with a worm in the bottle.)
Just like Champagne or cognac, tequila can only be made in a specific region: the Mexican state of Jalisco and some surrounding areas. The area’s volcanic soil is perfect for growing agave. The forbidding plant, which has sharp thorns and long, thick leaves, takes between eight and 12 years to reach maturity before it can be harvested.
The heart of the plant, which can weigh well over 100 pounds, is peeled, roasted and crushed, and its sweet juice is then fermented and distilled. (While premium tequila is made from pure agave, cheaper tequila called mixto is distilled from both agave and other sugars.) Tequila is usually distilled twice.
There are four main tequila categories: Blanco (also called silver, plata or platinum) is aged for less than two months and is clear; reposado is aged between two and 12 months and is golden-colored; añejo is aged between one and three years and is a whisky-like brown; and extra-añejo, a new category introduced by the Tequila Regulatory Council in 2006, is aged more than three years. Tequila, like most Scotches, is typically aged in used bourbon casks.
</p>
<h4> Is Tequila safe for Celiacs?</h4>
<p>
  For the most part, yes! Look for 100% agave tequilas and be aware that some tequilas are aged in bourbon barrels.
</p>
<div>
<div ng-repeat="booze in allthetequila">
  <img src= "{{booze.image}}"/>
  <p>Name: {{booze.name}}</p>
  <p>Type: {{booze.type}}</p>
  <p>Description: {{booze.description}}</p>
  <p>Origin:{{booze.origin}}</p>
  <p>Ingredients:{{booze.ingredients}}</p>
  <p>ABV: {{booze.abv}}</p>
  <p>Safe: {{booze.safe}}</p>
</div>
